@tailwind base;
@tailwind components;
@tailwind utilities;

.font-SourceSerifPro {
  font-family: "Source Serif Pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.feed-group > div > div:last-child .hide-h-line-if-last {
  @apply hidden;
}