@tailwind base;
@tailwind components;
@tailwind utilities;

.font-SourceSerifPro {
  font-family: "Source Serif Pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.feed-group > div > div:last-child .hide-h-line-if-last {
  @apply hidden;
}

.prose {
  max-width: 100%;
}

.prose a:link {
  text-decoration-thickness: 1px;
  color: #999999;
  opacity: 75%;
}

.prose a:hover {
  opacity: 100%;
}